.contain{
    display: flex;
    flex-direction: column-reverse;
}
.box{
    margin: 20px auto;
    border-radius: 8px;
    width: 230px;
    padding: 8px 5px;
    padding-top: 10px;
    background-color: antiquewhite;

}

.btn{
    float: right;
    margin-top: 10px;
    border-radius: 8px;
    font-size: xx-small;
}
