.header{
    width: 100%;
    position: fixed;
    /* padding:; */
    bottom: 0;
    
}
.form{
    width: 100%;
    padding: 8px 20px;
    background-color: rgb(245, 197, 134);

}
input{
    border: none;
    background: none;
    border-bottom: 1px solid red;
    margin: 2px;
}
input:focus{
    outline: none;
    background-color: antiquewhite;
    /* color: antiquewhite; */
}
input:focus::placeholder{
    color: antiquewhite;
}
button{
    margin-top: 10px;
    color:rgb(94, 24, 24);
}