*{
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    text-align: center;
    font-size: large;
}

.container{
   margin: auto;
   
}

.item-1{
    flex-grow: 2;
}
.box{
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    width: 230px;
    padding: 20px 5px;
    background-color: antiquewhite;

}

button{
    float: right;
}

.form{
    margin: auto;
    width: 230px;
    padding: 3px 20px;
    background-color: rgb(245, 197, 134);

}
input{
    border: none;
    background: none;
    border-bottom: 1px solid red;
}
input:focus{
    outline: none;
    background-color: antiquewhite;
    /* color: antiquewhite; */
}
input:focus::placeholder{
    color: antiquewhite;
}